<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="StoryBoardConnStr" connectionString="Data Source=USMUMRMAURYA2;Initial Catalog=StoryBoardDB;User ID=sa;Password=APril@123"
        providerName="System.Data.SqlClient" />
    <add name ="Excel07ConString"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};
                         Extended Properties='Excel 8.0;HDR=Yes;IMEX=1'"/>
    <add name ="Excel03ConString"
       connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};
                         Extended Properties='Excel 8.0'"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key ="FolderPath" value ="Files/"/>
    <add key ="Sheet1Const" value ="Overview$"/>
    <add key ="Sheet2Const" value ="Details$"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>    
    <customErrors defaultRedirect="error.htm" mode="RemoteOnly" />
  </system.web>
</configuration>
