<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="StoryBoardConnStr" connectionString="Data Source=USMUMPUMHATRE1;Initial Catalog=StoryBoard;User ID=sa;Password=Dell@123"
        providerName="System.Data.SqlClient"/>
    <!--<add name="StoryBoardConnStr" connectionString="Data Source=HFSNE121-037007\dev1;Initial Catalog=POCDB;User ID=ApplicationUser;Password=SSP123##" providerName="System.Data.SqlClient"/>-->
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=Yes;IMEX=1'"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0'"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="FolderPath" value="Files/"/>
    <add key="Sheet1Const" value="Overview$"/>
    <add key="Sheet2Const" value="Details$"/>
    <add key="AllowedImageFiles" value=".jpg, .jpeg, .png"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState timeout="30"></sessionState>
    <!--<customErrors defaultRedirect="error.htm" mode="RemoteOnly"/>-->
  </system.web>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Logs\\Errorlog.log"/>
      <!--<param name="AppendToFile" value="true"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>